*{
  list-style: none;
  text-decoration: none;
}
.active{
  text-decoration: underline;
}
nav{
  display: flex;
  justify-content: center;
}
.navlist{
  display: flex;
  gap: 2rem;
}
.header{
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 2rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
}